body{
    background-color: black;
    color: white;
    font-family:monospace;
}
h3{
    background-color: #0000ff57;
    padding: 10px;
    text-align: center;
}
footer{
    background-color: blue;
    text-align: center;
    padding: 5px;
}